#conventions h2 {
    font-size: 24px;
}

.bloc-conventions, .click-header {
    margin-bottom: 40px;
}

summary {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

*:focus {
    outline: none;
}

summary p {
    margin-bottom: 0;
}

.title-convention {
    margin-bottom: 0;
}

.click-header {
    font-size: 18px;
    font-style: italic;
}

summary a * {
    pointer-events: none;
}