@font-face {
    font-family: 'BurnstownDam';
    src: url('/fonts/burnstown_dam.otf');
    src: local('BurnstownDam'), url('/fonts/burnstown_dam.otf') format('truetype');
}

.slogan h1 {
    font-family: 'BurnstownDam', Arial, sans-serif;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 0;
    color: #9e672c;
}

.slogan p {
    font-size: 30px;
}

.navbar-light .navbar-nav .nav-link, .logout-link, #dropdown-menu-link {
    color: #043308;
}

.logout-link, #dropdown-menu-link {
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    text-transform: uppercase;
}

#dropdown-menu-link:hover {
    text-decoration: none;
}

#menutest {
    display: none;
}

#dropdown-menu-link:hover + #menutest, .dropdown:hover #menutest {
    display: block;
}

.lowercase-link {
    text-transform: lowercase;
}

.dropdown a:focus {
    text-decoration: none;
}

@media all and (max-width: 767px) {
    .slogan h1 {
        font-size: 40px;
    }

    .slogan p {
        font-size: 15px;
    }
}

@media all and (min-width: 768px) {
    .dropdown:hover {
        position: relative;
        top: 8px;
        width: 149.52px;
    }

    #menutest a {
        padding-left: 0;
        padding-right: 0;
    }
}