#competences > p {
    margin-bottom: 40px;
}

#competences div p {
    text-align: left;
    margin: 10px 0 0 10px;
}

#competences div img {
    cursor: pointer;
}

.legend-profession {
    text-transform: uppercase;
}

.examples {
    display: none;
}

#competences .examples p {
    text-align: justify;
}

#competences .link-js-competences {
    cursor: pointer;
    text-decoration: underline;
    margin: 0 0 40px;
}

#competences .examples .link-js-competences {
    margin-top: 10px;
}