#competences > p {
    margin-bottom: 40px;
}

#competences div p {
    text-align: left;
    margin-top: 10px;
}

#competences div img {
    cursor: pointer;
}

.legend-profession {
    text-transform: uppercase;
}

.examples {
    display: none;
}

#competences .examples p {
    text-align: justify;
}

#competences .link-js-competences {
    cursor: pointer;
    text-decoration: underline;
    margin: 0 0 40px;
}

#competences .examples .link-js-competences {
    margin-top: 10px;
}

.input-competences {
    min-width: 120px;
    margin-left: 5px;
}

.button-file {
    border: none;
    padding: 0;
}

.password-warning {
    color: #F00;
    font-weight: normal;
    font-size: 20px;
}

@media all and (max-width: 350px) {
    .button-file {
        font-size: 15px;
    }
}