<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer une convention</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/createConvention.css" />
</head>
    <body>
        <div th:replace="Navbar :: navbar"></div>
        <div class="container mx-auto bloc-create-convention">
            <h1 class="text-center mb-3">Créer une convention</h1>
            <p>Mettez-vous bien d'accord au préalable sur les détails de l'intervention. Si ce n'est pas le cas, votre convention peut être refusée par l'aidant. Si vous ne l'avez pas fait, contactez-le avant d'envoyer votre convention.</p>
            <form method="post" action="/send_convention" class="mx-auto">
                <label for="helperEmail">Adresse email de l'aidant<span class="input-required">*</span>:</label>
                <input type="text" name="helperEmail" id="helperEmail" class="form-control" required />
                <div>
                    <p>Date du rendez-vous<span class="input-required">*</span>:</p>
                    <select name="day" id="day" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                    <select name="month" id="month" required>
                        <option value="1">Janvier</option>
                        <option value="2">Février</option>
                        <option value="3">Mars</option>
                        <option value="4">Avril</option>
                        <option value="5">Mai</option>
                        <option value="6">Juin</option>
                        <option value="7">Juillet</option>
                        <option value="8">Août</option>
                        <option value="9">Septembre</option>
                        <option value="10">Octobre</option>
                        <option value="11">Novembre</option>
                        <option value="12">Décembre</option>
                    </select>
                    <select name="year" id="year" required>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>
                </div>
                <div>
                    <p>Heure de début<span class="input-required">*</span>:</p>
                    <select name="hour" id="hour" required>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select>
                </div>
                <div>
                    <p>Temps pour l'intervention<span class="input-required">*</span>:</p>
                    <label for="hours-intervention-time">Heures :</label>
                    <select name="hours-intervention-time" id="hours-intervention-time" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select><br />
                    <label for="minutes-intervention-time">Minutes :</label>
                    <select name="minutes-intervention-time" id="minutes-intervention-time" required>
                        <option value="0">0</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                    </select>
                </div>
                <label for="place">Lieu (adresse complète)<span class="input-required">*</span>:</label>
                <input type="text" name="place" id="place" class="form-control" />
                <label for="phone_number">Téléphone:</label>
                <input type="text" name="phone_number" id="phone_number" class="form-control" />
                <label for="convention">Convention (200 caractères maximum)<span class="input-required">*</span>:</label><br />
                <textarea name="convention" id="convention" cols="35" rows="4" maxlength="200" required></textarea><br />
                <button type="submit" class="mt-3 mb-5" onclick='return confirm("Êtes-vous sûr de vouloir créer cette convention ?")'>Envoyer</button>
            </form>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="/js/maxlength.js"></script>
    </body>
</html>