<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Faire une demande</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/demands.css" />
    </head>
    <body>
        <div th:replace="Navbar :: navbar"></div>
        <div class="container">
            <form method="post" action="/results" class="text-center">
                <div class="form-group">
                    <label for="search">J'ai besoin d'aide en : <span class="input-required">*</span></label><br />
                    <select name="search" id="search" required>
                        <option value="gardening">Jardinage</option>
                        <option value="electricity">Électricité</option>
                        <option value="plumbing">Plomberie</option>
                        <option value="carpentry">Menuiserie</option>
                        <option value="painting">Peinture</option>
                        <option value="masonry">Maçonnerie</option>
                        <option value="diy">Tout bricolage</option>
                    </select>
                </div>
                <div>
                    <button type="submit" class="pointer">Rechercher</button>
                </div>
            </form>

            <div class="mt-5">
                <p th:if="${users != null && #lists.size(users) == 0}" class="text-center">
                    Aucun membre ne correspondant à votre recherche.
                </p>
                <div th:if="${users != null && #lists.size(users) != 0}">
                    <div th:if="${#lists.size(users) > 1}">
                        <h2 class="text-center">Vous pouvez être aidé par :</h2>
                        <div id="users" class="mb-5">
                            <div th:if="${search == 'gardening'}">
                                <div th:each="user : ${users}" th:if="${emailLoggedUser != user.email && user.levelGardening != null}" class="mt-5 text-center">
                                    <div th:replace="ListCompetences :: competences"></div>
                                    <img th:src="${user.avatar}" th:alt="@{|Avatar de ${user.firstName} ${user.lastName}|}" />
                                    <p class="name-town"><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> - <span th:text="${user.town}" class="town"></span><br />
                                        <span class="age"><span th:text="${user.age}" class="age"></span> ans</span></p>
                                    <p th:text="${user.description}"></p>
                                    <div class="see-profile pb-4">
                                        <a th:href="@{|/profile/${user.id}|}">Voir les avis</a>
                                    </div>
                                    <div class="contact pb-5">
                                        <a th:href="@{|/send_message/${idLoggedUser}/${user.id}|}">Contacter <span th:text="${user.firstName}"></span></a>
                                    </div>
                                </div>
                                <div th:each="user : ${users}" th:if="${emailLoggedUser != user.email && user.levelGardening == null && user.levelDiy != null}" class="mt-5 text-center">
                                    <div th:replace="ListCompetences :: competences"></div>
                                    <img th:src="${user.avatar}" th:alt="@{|Avatar de ${user.firstName} ${user.lastName}|}" />
                                    <p class="name-town"><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> - <span th:text="${user.town}" class="town"></span><br />
                                        <span class="age"><span th:text="${user.age}" class="age"></span> ans</span></p>
                                    <p th:text="${user.description}"></p>
                                    <div class="see-profile pb-4">
                                        <a th:href="@{|/profile/${user.id}|}">Voir les avis</a>
                                    </div>
                                    <div class="contact pb-5">
                                        <a th:href="@{|/send_message/${idLoggedUser}/${user.id}|}">Contacter <span th:text="${user.firstName}"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${search == 'electricity'}">
                                <div th:each="user : ${users}" th:if="${emailLoggedUser != user.email && user.levelElectricity != null}" class="mt-5 text-center">
                                    <div th:replace="ListCompetences :: competences"></div>
                                    <img th:src="${user.avatar}" th:alt="@{|Avatar de ${user.firstName} ${user.lastName}|}" />
                                    <p class="name-town"><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> - <span th:text="${user.town}" class="town"></span><br />
                                        <span class="age"><span th:text="${user.age}" class="age"></span> ans</span></p>
                                    <p th:text="${user.description}"></p>
                                    <div class="see-profile pb-4">
                                        <a th:href="@{|/profile/${user.id}|}">Voir les avis</a>
                                    </div>
                                    <div class="contact pb-5">
                                        <a th:href="@{|/send_message/${idLoggedUser}/${user.id}|}">Contacter <span th:text="${user.firstName}"></span></a>
                                    </div>
                                </div>
                                <div th:each="user : ${users}" th:if="${emailLoggedUser != user.email && user.levelElectricity == null && user.levelDiy != null}" class="mt-5 text-center">
                                    <div th:replace="ListCompetences :: competences"></div>
                                    <img th:src="${user.avatar}" th:alt="@{|Avatar de ${user.firstName} ${user.lastName}|}" />
                                    <p class="name-town"><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> - <span th:text="${user.town}" class="town"></span><br />
                                        <span class="age"><span th:text="${user.age}" class="age"></span> ans</span></p>
                                    <p th:text="${user.description}"></p>
                                    <div class="see-profile pb-4">
                                        <a th:href="@{|/profile/${user.id}|}">Voir les avis</a>
                                    </div>
                                    <div class="contact pb-5">
                                        <a th:href="@{|/send_message/${idLoggedUser}/${user.id}|}">Contacter <span th:text="${user.firstName}"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${search == 'plumbing'}">
                                <div th:each="user : ${users}" th:if="${emailLoggedUser != user.email && user.levelPlumbing != null}" class="mt-5 text-center">
                                    <div th:replace="ListCompetences :: competences"></div>
                                    <img th:src="${user.avatar}" th:alt="@{|Avatar de ${user.firstName} ${user.lastName}|}" />
                                    <p class="name-town"><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> - <span th:text="${user.town}" class="town"></span><br />
                                        <span class="age"><span th:text="${user.age}" class="age"></span> ans</span></p>
                                    <p th:text="${user.description}"></p>
                                    <div class="see-profile pb-4">
                                        <a th:href="@{|/profile/${user.id}|}">Voir les avis</a>
                                    </div>
                                    <div class="contact pb-5">
                                        <a th:href="@{|/send_message/${idLoggedUser}/${user.id}|}">Contacter <span th:text="${user.firstName}"></span></a>
                                    </div>
                                </div>
                                <div th:each="user : ${users}" th:if="${emailLoggedUser != user.email && user.levelPlumbing == null && user.levelDiy != null}" class="mt-5 text-center">
                                    <div th:replace="ListCompetences :: competences"></div>
                                    <img th:src="${user.avatar}" th:alt="@{|Avatar de ${user.firstName} ${user.lastName}|}" />
                                    <p class="name-town"><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> - <span th:text="${user.town}" class="town"></span><br />
                                        <span class="age"><span th:text="${user.age}" class="age"></span> ans</span></p>
                                    <p th:text="${user.description}"></p>
                                    <div class="see-profile pb-4">
                                        <a th:href="@{|/profile/${user.id}|}">Voir les avis</a>
                                    </div>
                                    <div class="contact pb-5">
                                        <a th:href="@{|/send_message/${idLoggedUser}/${user.id}|}">Contacter <span th:text="${user.firstName}"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${search == 'carpentry'}">
                                <div th:each="user : ${users}" th:if="${emailLoggedUser != user.email && user.levelCarpentry != null}" class="mt-5 text-center">
                                    <div th:replace="ListCompetences :: competences"></div>
                                    <img th:src="${user.avatar}" th:alt="@{|Avatar de ${user.firstName} ${user.lastName}|}" />
                                    <p class="name-town"><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> - <span th:text="${user.town}" class="town"></span><br />
                                        <span class="age"><span th:text="${user.age}" class="age"></span> ans</span></p>
                                    <p th:text="${user.description}"></p>
                                    <div class="see-profile pb-4">
                                        <a th:href="@{|/profile/${user.id}|}">Voir les avis</a>
                                    </div>
                                    <div class="contact pb-5">
                                        <a th:href="@{|/send_message/${idLoggedUser}/${user.id}|}">Contacter <span th:text="${user.firstName}"></span></a>
                                    </div>
                                </div>
                                <div th:each="user : ${users}" th:if="${emailLoggedUser != user.email && user.levelCarpentry == null && user.levelDiy != null}" class="mt-5 text-center">
                                    <div th:replace="ListCompetences :: competences"></div>
                                    <img th:src="${user.avatar}" th:alt="@{|Avatar de ${user.firstName} ${user.lastName}|}" />
                                    <p class="name-town"><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> - <span th:text="${user.town}" class="town"></span><br />
                                        <span class="age"><span th:text="${user.age}" class="age"></span> ans</span></p>
                                    <p th:text="${user.description}"></p>
                                    <div class="see-profile pb-4">
                                        <a th:href="@{|/profile/${user.id}|}">Voir les avis</a>
                                    </div>
                                    <div class="contact pb-5">
                                        <a th:href="@{|/send_message/${idLoggedUser}/${user.id}|}">Contacter <span th:text="${user.firstName}"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${search == 'painting'}">
                                <div th:each="user : ${users}" th:if="${emailLoggedUser != user.email && user.levelPainting != null}" class="mt-5 text-center">
                                    <div th:replace="ListCompetences :: competences"></div>
                                    <img th:src="${user.avatar}" th:alt="@{|Avatar de ${user.firstName} ${user.lastName}|}" />
                                    <p class="name-town"><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> - <span th:text="${user.town}" class="town"></span><br />
                                        <span class="age"><span th:text="${user.age}" class="age"></span> ans</span></p>
                                    <p th:text="${user.description}"></p>
                                    <div class="see-profile pb-4">
                                        <a th:href="@{|/profile/${user.id}|}">Voir les avis</a>
                                    </div>
                                    <div class="contact pb-5">
                                        <a th:href="@{|/send_message/${idLoggedUser}/${user.id}|}">Contacter <span th:text="${user.firstName}"></span></a>
                                    </div>
                                </div>
                                <div th:each="user : ${users}" th:if="${emailLoggedUser != user.email && user.levelPainting == null && user.levelDiy != null}" class="mt-5 text-center">
                                    <div th:replace="ListCompetences :: competences"></div>
                                    <img th:src="${user.avatar}" th:alt="@{|Avatar de ${user.firstName} ${user.lastName}|}" />
                                    <p class="name-town"><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> - <span th:text="${user.town}" class="town"></span><br />
                                        <span class="age"><span th:text="${user.age}" class="age"></span> ans</span></p>
                                    <p th:text="${user.description}"></p>
                                    <div class="see-profile pb-4">
                                        <a th:href="@{|/profile/${user.id}|}">Voir les avis</a>
                                    </div>
                                    <div class="contact pb-5">
                                        <a th:href="@{|/send_message/${idLoggedUser}/${user.id}|}">Contacter <span th:text="${user.firstName}"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${search == 'masonry'}">
                                <div th:each="user : ${users}" th:if="${emailLoggedUser != user.email && user.levelMasonry != null}" class="mx-auto mt-5 text-center">
                                    <div th:replace="ListCompetences :: competences"></div>
                                    <img th:src="${user.avatar}" th:alt="@{|Avatar de ${user.firstName} ${user.lastName}|}" />
                                    <p class="name-town"><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> - <span th:text="${user.town}" class="town"></span><br />
                                        <span class="age"><span th:text="${user.age}" class="age"></span> ans</span></p>
                                    <p th:text="${user.description}"></p>
                                    <div class="see-profile pb-4">
                                        <a th:href="@{|/profile/${user.id}|}">Voir les avis</a>
                                    </div>
                                    <div class="contact pb-5">
                                        <a th:href="@{|/send_message/${idLoggedUser}/${user.id}|}">Contacter <span th:text="${user.firstName}"></span></a>
                                    </div>
                                </div>
                                <div th:each="user : ${users}" th:if="${emailLoggedUser != user.email && user.levelMasonry == null && user.levelDiy != null}" class="mx-auto mt-5 text-center">
                                    <div th:replace="ListCompetences :: competences"></div>
                                    <img th:src="${user.avatar}" th:alt="@{|Avatar de ${user.firstName} ${user.lastName}|}" />
                                    <p class="name-town"><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> - <span th:text="${user.town}" class="town"></span><br />
                                        <span class="age"><span th:text="${user.age}" class="age"></span> ans</span></p>
                                    <p th:text="${user.description}"></p>
                                    <div class="see-profile pb-4">
                                        <a th:href="@{|/profile/${user.id}|}">Voir les avis</a>
                                    </div>
                                    <div class="contact pb-5">
                                        <a th:href="@{|/send_message/${idLoggedUser}/${user.id}|}">Contacter <span th:text="${user.firstName}"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p th:if="${#lists.size(users) == 1 && users[0].email == emailLoggedUser}">
                        Aucun membre ne correspondant à votre recherche.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>