<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Explications du fonctionnement du site</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/explanations.css" />
    </head>
    <body>
        <div th:replace="Navbar :: navbar"></div>
        <div class="container mx-auto row bloc-explanations">
            <div class="title-icons d-flex flex-column flex-md-row justify-content-center align-items-center mt-3">
                <div class="d-flex title-handyman">
                    <h1><span class="first-part-h1-explications">L'échange d'aide :</span><span class="second-part-h1-explications">Le principe du site <span class="bricovoisins">Bricovoisins</span></span></h1>
                    <div class="handyman-icon mr-md-3">
                        <img src="/img/bricoleur.jpg" alt="Un bricoleur" />
                    </div>
                </div>
                <div class="icons d-flex flex-column">
                    <div class="d-flex">
                        <div class="d-flex first-row-icons">
                            <div>
                                <img src="/img/macon.jpg" alt="Un maçon" />
                            </div>
                            <div>
                                <img src="/img/peintre.jpg" alt="Un peintre" />
                            </div>
                            <div>
                                <img src="/img/menuisier.jpg" alt="Un menuisier" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex second-row-icons">
                        <div>
                            <img src="/img/jardinier.jpg" alt="Un jardinier" />
                        </div>
                        <div>
                            <img src="/img/electricien.jpg" alt="Un électricien" />
                        </div>
                        <div>
                            <img src="/img/plombier.jpg" alt="Un plombier" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 text-icon mx-auto d-flex flex-column-reverse flex-md-row">
                <p><span class="bricovoisins paragraph-bricovoisins">Bricovoisins</span> est un site de mise en relation entre particuliers souhaitant s’entraider en échangeant des services selon leurs compétences.</p>
                <div>
                    <img src="/img/echange.png" alt="Icône symbolisant l'échange" />
                </div>
            </div>
            <div class="mt-5 mx-auto text-icon">
                <p>Sur <span class="bricovoisins paragraph-bricovoisins">Bricovoisins</span>, trouver l'aide dont on a besoin est simple : Vous proposez une aide qui entre dans votre domaine de compétence auprès de tous les membres et vous pouvez bénéficier d'aide dont vous avez vraiment besoin auprès de n’importe quel membre du site.</p>
            </div>
            <div class="mt-5 text-icon mx-auto d-flex flex-column-reverse flex-md-row">
                <p>Chaque membre peut en aider un autre et ainsi créditer son compteur d'un nombre de points correspondant au temps effectif. 1 point est égal à 15 minutes.</p>
                <div>
                    <img src="/img/compteur.png" alt="Un réveil" />
                </div>
            </div>
            <div class="mt-5 text-icon mx-auto d-flex flex-column-reverse flex-md-row">
                <p>L'autre membre pourra à son tour bénéficier d'aide des membres du site. Tous les services valent le même temps (1 heure donnée sera toujours égale à 1 heure à recevoir).</p>
            </div>
            <div class="mt-5 text-icon mx-auto">
                <h2 class="subtitle-explanations">Comment aider un membre sur <span class="bricovoisins">Bricovoisins</span> ?</h2>
                <div class="d-flex flex-column-reverse flex-md-row">
                    <p>Après avoir complété votre profil et avoir décrit les services que vous pouvez rendre, les membres ayant besoin de vos compétences pourront vous contacter et vous proposer un rendez-vous. Le contact sera donc direct entre deux membres et vous négocierez ensemble les modalités de l'intervention.</p>
                    <div>
                        <img src="/img/contact.png" alt="Une enveloppe et un téléphone" />
                    </div>
                </div>
            </div>
            <div class="mt-5 text-icon mx-auto">
                <h2 class="subtitle-explanations">Comment obtenir l'aide dont j'ai besoin ?</h2>
                <div class="d-flex flex-column-reverse flex-md-row">
                    <p>Si vous avez déjà aidé un ou plusieurs membres, votre compteur temps vous permet donc d’obtenir à votre tour une aide. Il vous suffit de faire une recherche via l'onglet "J'ai besoin d'aide" et de choisir le membre qui répond à votre besoin.</p>
                    <div>
                        <img src="/img/help.png" alt="Smiley portant un panneau HELP" />
                    </div>
                </div>
            </div>
            <div class="mt-5 text-icon mx-auto">
                <div class="d-flex flex-column-reverse flex-md-row">
                    <p>Contactez alors le membre qui vous intéresse afin de vous mettre d’accord sur les modalités (préciser le service à réaliser, les dates et horaires possibles, etc…). Si vous vous êtes mis d’accord, vous pouvez donc établir la convention d'aide (lien visible sur votre tableau de bord).</p>
                    <div>
                        <img src="/img/convention.png" alt="Deux mains qui se serrent" />
                    </div>
                </div>
            </div>
            <div class="mt-5 text-icon mx-auto d-flex flex-column-reverse flex-md-row">
                <p>À l'envoi de la convention, votre compteur est débité du nombre d’heures déclaré (en cas d’annulation de la convention, le compteur sera à nouveau crédité).</p>
            </div>
            <div class="mt-5 text-icon mx-auto d-flex flex-column-reverse flex-md-row">
                <p>Après avoir rendu service, votre compteur est crédité du nombre de points correspondant au temps passé. Vous pourrez alors utiliser ces points pour obtenir l'aide de votre choix.</p>
            </div>
            <div class="mt-5 text-icon mx-auto">
                <h2 class="subtitle-explanations">Peut-on profiter d'une aide avant d'avoir aidé un autre membre ?</h2>
                <div class="d-flex flex-column-reverse flex-md-row">
                    <p>Chaque membre peut recevoir une aide avant même d’avoir aidé un autre membre, car dès votre inscription, vous bénéficiez d'une avance de 10 points (soit 2h30) sur votre compteur.</p>
                    <div>
                        <img src="/img/points.png" alt="Ballon portant l'inscription 10 points" />
                    </div>
                </div>
            </div>
            <div class="mt-5 text-icon mx-auto d-flex flex-column-reverse flex-md-row">
                <p>Cependant, cela ne sera pas possible au-delà. La logique de l'entraide doit inciter les membres à aider autant qu'ils sont aidés !</p>
            </div>
        </div>
    </body>
</html>