<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes conventions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/conventions.css" />
</head>
    <body>
        <div th:replace="Navbar :: navbar"></div>
        <div class="container mx-auto text-center" id="conventions">
            <div th:if="${param.sendConvention}" class="alert alert-success w-50 mx-auto mb-2">
                <p>Votre convention a bien été créée !</p>
            </div>
            <h1 class="title-convention">Mes conventions d'aidé</h1>
            <p class="click-header">(cliquer sur l'en-tête pour voir la convention)</p>
            <div class="bloc-conventions">
                <h2>Conventions classées</h2>
                <p th:if="${#lists.size(finishedConventions) == 0}">
                    Aucune convention.
                </p>
                <div th:if="${#lists.size(finishedConventions) >= 0}" th:each="convention : ${finishedConventions}">
                    <details>
                        <summary><p>Classée le <span th:text="${#temporals.format(convention.dateConvention, 'dd/MM/yyyy')}"></span> avec <a th:href="@{|/profile/${convention.recipientId}|}"><span th:text="${convention.firstNameRecipient}"></span> <span th:text="${convention.lastNameRecipient}"></span></a>.</p></summary>
                        <p th:text="${convention.message}"></p>
                    </details>
                </div>
            </div>
            <div class="bloc-conventions">
                <h2>Conventions en attente d'accord</h2>
                <p th:if="${#lists.size(conventions) == 0}">
                    Aucune convention.
                </p>
                <div th:if="${#lists.size(conventions) >= 0}" th:each="convention : ${conventions}">
                    <details>
                        <summary><p>Rédigée le <span th:text="${#temporals.format(convention.dateConvention, 'dd/MM/yyyy')}"></span> avec <a th:href="@{|/profile/${convention.recipientId}|}"><span th:text="${convention.firstNameRecipient}"></span> <span th:text="${convention.lastNameRecipient}"></span></a>.</p></summary>
                        <p th:text="${convention.message}"></p>
                    </details>
                </div>
            </div>
            <div class="bloc-conventions">
                <h2>Conventions en cours</h2>
                <p th:if="${#lists.size(validatedConventions) == 0}">
                    Aucune convention.
                </p>
                <div th:if="${#lists.size(validatedConventions) >= 0}" th:each="convention : ${validatedConventions}">
                    <details>
                        <summary><p>Rédigée le <span th:text="${#temporals.format(convention.dateConvention, 'dd/MM/yyyy')}"></span> avec <a th:href="@{|/profile/${convention.recipientId}|}"><span th:text="${convention.firstNameRecipient}"></span> <span th:text="${convention.lastNameRecipient}"></span></a>.</p></summary>
                        <p th:text="${convention.message}"></p>
                    </details>
                    <a role="button" th:href="@{|/validate_convention_sender/${convention.id}|}" class="btn btn-success" onclick='return confirm("Êtes-vous sûr de valider cette convention ?")'>Valider (intervention terminée)</a>
                </div>
            </div>
        </div>
    </body>
</html>