<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
            <ul class="navbar-nav d-flex align-items-center flex-column m-auto">
                <div class="d-lg-flex align-items-lg-center text-center green-text">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/home">
                            <img src="/img/logo.jpg" alt="Logo Bricovoisins" />
                        </a>
                    </li>
                    <div class="slogan">
                        <h1 class="title-site text-uppercase">Bricovoisins</h1>
                        <p>S'entraider dans le Grand Clermont</p>
                    </div>
                </div>
                <div class="links-menu d-lg-flex text-uppercase">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/explications">Comment ça marche ?</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/inscription">S'inscrire</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <div class="dropdown">
                            <a role="button" aria-haspopup="true" aria-expanded="false" href="#" id="dropdown-menu-link">Tableau de bord</a>
                            <div id="menutest">
                                <a class="dropdown-item" href="/create_convention">R<span class="lowercase-link">édiger une convention</span></a>
                                <a class="dropdown-item" th:href="@{|/my_conventions/${userId}|}">M<span class="lowercase-link">es conventions</span></a>
                                <a class="dropdown-item" th:href="@{|/addressed_conventions/${userId}|}">C<span class="lowercase-link">onventions adressées</span></a>
                            </div>
                        </div>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/demands">J'ai besoin d'aide</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/login">Connexion</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <input class="logout-link" type="submit" value="Déconnexion" />
                        </form>
                    </li>
                </div>
            </ul>
            <div sec:authorize="isAuthenticated()">
                <p>Bonjour <span th:text="${firstName}"></span> !</p>
            </div>
        </nav>
    </div>
</html>