<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
            <ul class="navbar-nav d-flex align-items-center flex-column m-auto">
                <div class="d-lg-flex align-items-lg-center text-center green-text">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/home">
                            <img src="/img/logo.jpg" alt="Logo Bricovoisins" />
                        </a>
                    </li>
                    <div class="slogan">
                        <h1 class="title-site text-uppercase">Bricovoisins</h1>
                        <p>S'entraider dans le Grand Clermont</p>
                    </div>
                </div>
                <div class="links-menu d-lg-flex text-uppercase">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/explications">Comment ça marche ?</a>
                    </li>
                    <div sec:authorize="!isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link" href="/inscription">S'inscrire</a>
                        </li>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Tableau de bord</a>
                        </li>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link" href="/services">Je veux aider</a>
                        </li>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link" href="/demands">J'ai besoin d'aide</a>
                        </li>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Connexion</a>
                        </li>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <form th:action="@{/logout}" method="post">
                                <input class="logout-link" type="submit" value="Déconnexion" />
                            </form>
                        </li>
                    </div>
                </div>
            </ul>
        </nav>
    </div>
</html>