<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${titlePage}"></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/profile.css" />
    </head>
    <body>
        <div th:replace="Navbar :: navbar"></div>
        <div class="container mx-auto">
            <div th:if="${param.addComment}" class="alert alert-success w-50 mx-auto mb-2">
                <p>Votre commentaire a bien été ajouté !</p>
            </div>
            <div th:if="${param.deleteComment}" class="alert alert-success w-50 mx-auto mb-2">
                <p>Le commentaire a bien été supprimé !</p>
            </div>
            <div id="user">
                <div id="image">
                    <img th:src="${user.avatar}" th:alt="@{|Avatar de ${user.firstName} ${user.lastName}|}" />
                </div>
                <div id="informations">
                    <p><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span>, <span th:text="${user.age}"></span> ans</p>
                    <p><span class="bold">Email</span> : <span th:text="${user.email}"></span></p>
                    <p><span class="bold">Ville</span> : <span th:text="${user.town}"></span></p>
                    <p id="competences"><span class="bold">Compétences</span> :</p>
                    <div th:replace="ListCompetences :: competences"></div>
                    <p th:text="${user.description}"></p>
                    <a th:if="${userId == user.id}" role="button" th:href="@{|/update_profile/${user.id}|}">Modifier</a>
                </div>
                <div th:if="${userId != user.id && hasConvention == true}" id="bloc-comment">
                    <h2>Ajouter un commentaire</h2>
                    <form method="post" action="/add_comment">
                        <label for="comment">Commentaire</label><br />
                        <textarea name="comment" id="comment"></textarea>
                        <input type="hidden" name="userId" id="userId" th:value="${user.id}" /><br />
                        <button type="submit" class="pointer">Envoyer</button>
                    </form>
                </div>
            </div>
            <div id="comments" class="mb-5">
                <h2>Commentaires</h2>
                <div th:if="${#lists.size(comments) == 0}">
                    Aucun commentaire
                </div>
                <div th:if="${#lists.size(comments) >= 0}" th:each="comment : ${comments}" class="mt-5">
                    <h3>Commentaire de <span th:text="${comment.author}"></span> :</h3>
                    <p th:text="${comment.comment}"></p><br />
                    <a role="button" class="btn btn-danger" th:href="@{|/remove_comment/${comment.id}|}" onclick='return confirm("Êtes-vous sûr de supprimer ce commentaire ?")'>Supprimer</a>
                </div>
            </div>
        </div>
    </body>
</html>