<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>S'enregistrer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <div th:replace="Navbar :: navbar"></div>
        <div class="container">
            <h1 class="text-center">S'enregistrer</h1>

            <form method="post" action="/validation" class="w-50 m-auto">
                <div class="form-group">
                    <label for="firstName">Prénom<span class="input-required">*</span></label>
                    <input type="text" name="firstName" id="firstName" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="lastName">Nom<span class="input-required">*</span></label>
                    <input type="text" name="lastName" id="lastName" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="email">Email<span class="input-required">*</span></label>
                    <input type="email" name="email" id="email" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe<span class="input-required">*</span></label>
                    <input type="password" name="password" id="password" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="address">Adresse<span class="input-required">*</span></label>
                    <input type="text" name="address" id="address" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="postalCode">Code postal<span class="input-required">*</span></label>
                    <input type="text" name="postalCode" id="postalCode" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="town">Ville<span class="input-required">*</span></label><br />
                    <select name="town" id="town">
                        <option value="aubieres">Aubières</option>
                        <option value="aulnat">Aulnat</option>
                        <option value="beaumont">Beaumont</option>
                        <option value="blanzat">Blanzat</option>
                        <option value="cebazat">Cébazat</option>
                        <option value="ceyrat">Ceyrat</option>
                        <option value="chamalieres">Chamalières</option>
                        <option value="chateaugay">Châteaugay</option>
                        <option value="clermont-ferrand">Clermont-Ferrand</option>
                        <option value="cournon">Cournon</option>
                        <option value="durtol">Durtol</option>
                        <option value="gerzat">Gerzat</option>
                        <option value="le_cendre">Le Cendre</option>
                        <option value="lempdes">Lempdes</option>
                        <option value="nohanent">Nohanent</option>
                        <option value="orcines">Orcines</option>
                        <option value="perignat-les-sarlieve">Pérignat-lès-Sarliève</option>
                        <option value="pont-du-chateau">Pont-du-Château</option>
                        <option value="romagnat">Romagnat</option>
                        <option value="saint-genes-champanelle">Saint-Genès-Champanelle</option>
                    </select>
                </div>
                <button type="submit" class="mb-5 pointer" onclick='return confirm("Êtes-vous sûr de vouloir enregistrer votre inscription ?")'>Terminer l'inscription</button>
            </form>
        </div>
    </body>
</html>