<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>S'enregistrer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/register.css" />
    </head>
    <body>
        <div th:replace="Navbar :: navbar"></div>
        <div class="container">
            <h1 class="text-center">S'enregistrer</h1>

            <form method="post" action="/validation" class="w-50 m-auto">
                <fieldset>
                    <legend>Vos coordonnées</legend>

                    <div class="form-group">
                        <label for="firstName">Prénom<span class="input-required">*</span></label>
                        <input type="text" name="firstName" id="firstName" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="lastName">Nom<span class="input-required">*</span></label>
                        <input type="text" name="lastName" id="lastName" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="age">Âge<span class="input-required">*</span></label>
                        <input type="number" name="age" id="age" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="email">Email<span class="input-required">*</span></label>
                        <input type="email" name="email" id="email" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe<span class="input-required">*</span></label>
                        <input type="password" name="password" id="password" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="address">Adresse<span class="input-required">*</span></label>
                        <input type="text" name="address" id="address" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="postalCode">Code postal<span class="input-required">*</span></label>
                        <input type="text" name="postalCode" id="postalCode" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="town">Ville<span class="input-required">*</span></label><br />
                        <select name="town" id="town">
                            <option value="aubieres">Aubières</option>
                            <option value="aulnat">Aulnat</option>
                            <option value="beaumont">Beaumont</option>
                            <option value="blanzat">Blanzat</option>
                            <option value="cebazat">Cébazat</option>
                            <option value="ceyrat">Ceyrat</option>
                            <option value="chamalieres">Chamalières</option>
                            <option value="chateaugay">Châteaugay</option>
                            <option value="clermont-ferrand">Clermont-Ferrand</option>
                            <option value="cournon">Cournon</option>
                            <option value="durtol">Durtol</option>
                            <option value="gerzat">Gerzat</option>
                            <option value="le_cendre">Le Cendre</option>
                            <option value="lempdes">Lempdes</option>
                            <option value="nohanent">Nohanent</option>
                            <option value="orcines">Orcines</option>
                            <option value="perignat-les-sarlieve">Pérignat-lès-Sarliève</option>
                            <option value="pont-du-chateau">Pont-du-Château</option>
                            <option value="romagnat">Romagnat</option>
                            <option value="saint-genes-champanelle">Saint-Genès-Champanelle</option>
                        </select>
                    </div>
                </fieldset>

                <fieldset id="competences">
                    <legend>Sélectionnez vos compétences</legend>
                    <p>Exemples de compétences : cliquez sur l'ouvrier !</p>
                    <div class="text-center">
                        <div class="d-flex">
                            <figure>
                                <figcaption class="legend-profession">Jardinage</figcaption>
                                <img src="/img/jardinier.jpg" alt="Un jardinier" id="img-gardener" />
                            </figure>
                            <p>
                                <input type="radio" name="level-gardening" value="petits-travaux-gardening" id="petits-travaux-gardening" />
                                <label for="petits-travaux-gardening">Petits travaux</label><br />
                                <input type="radio" name="level-gardening" value="connaisseur-gardening" id="connaisseur-gardening" />
                                <label for="connaisseur-gardening">Connaisseur</label><br />
                                <input type="radio" name="level-gardening" value="expert-gardening" id="expert-gardening" />
                                <label for="expert-gardening">Expert</label><br />
                            </p>
                        </div>
                        <div id="examples-gardening">
                            <p>Du texte</p>
                            <p class="close-link">Fermer</p>
                        </div>
                    </div>
                    <div class="text-center d-flex">
                        <figure>
                            <img src="/img/electricien.jpg" alt="Un électricien" />
                            <figcaption class="legend-profession">Électricité</figcaption>
                        </figure>
                        <p>
                            <input type="radio" name="level-electicity" value="petits-travaux-electricity" id="petits-travaux-electricity" />
                            <label>Petits travaux</label><br />
                            <input type="radio" name="level-electicity" value="bonne-experience-electricity" id="bonne-experience-electricity" />
                            <label>Bonne expérience</label><br />
                            <input type="radio" name="level-electicity" value="expert-electricity" id="expert-electricity" />
                            <label>Expert</label><br />
                        </p>
                    </div>
                    <div class="text-center d-flex">
                        <figure>
                            <img src="/img/plombier.jpg" alt="Un plombier" />
                            <figcaption class="legend-profession">Plomberie</figcaption>
                        </figure>
                        <p>
                            <input type="radio" name="level-plumbing" value="petits-travaux-plumbing" id="petits-travaux-plumbing" />
                            <label>Petits travaux</label><br />
                            <input type="radio" name="level-plumbing" value="bonne-experience-plumbing" id="bonne-experience-plumbing" />
                            <label>Bonne expérience</label><br />
                            <input type="radio" name="level-plumbing" value="expert-plumbing" id="expert-plumbing" />
                            <label>Expert</label><br />
                        </p>
                    </div>
                    <div class="text-center d-flex">
                        <figure>
                            <img src="/img/menuisier.jpg" alt="Un menuisier" />
                            <figcaption class="legend-profession">Menuiserie</figcaption>
                        </figure>
                        <p>
                            <input type="radio" name="level-carpentry" value="petits-travaux-carpentry" id="petits-travaux-carpentry" />
                            <label>Petits travaux</label><br />
                            <input type="radio" name="level-carpentry" value="bonne-experience-carpentry" id="bonne-experience-carpentry" />
                            <label>Bonne expérience</label><br />
                            <input type="radio" name="level-carpentry" value="expert-carpentry" id="expert-carpentry" />
                            <label>Expert</label><br />
                        </p>
                    </div>
                    <div class="text-center d-flex">
                        <figure>
                            <img src="/img/peintre.jpg" alt="Un peintre" />
                            <figcaption class="legend-profession">Peinture</figcaption>
                        </figure>
                        <p>
                            <input type="radio" name="level-painting" value="petits-travaux-painting" id="petits-travaux-painting" />
                            <label>Petits travaux</label><br />
                            <input type="radio" name="level-painting" value="bonne-experience-painting" id="bonne-experience-painting" />
                            <label>Bonne expérience</label><br />
                            <input type="radio" name="level-painting" value="expert-painting" id="expert-painting" />
                            <label>Expert</label><br />
                        </p>
                    </div>
                    <div class="text-center d-flex">
                        <figure>
                            <img src="/img/macon.jpg" alt="Un maçon" />
                            <figcaption class="legend-profession">Maçonnerie</figcaption>
                        </figure>
                        <p>
                            <input type="radio" name="level-masonry" value="petits-travaux-masonry" id="petits-travaux-masonry" />
                            <label>Petits travaux</label><br />
                            <input type="radio" name="level-masonry" value="bonne-experience-masonry" id="bonne-experience-masonry" />
                            <label>Bonne expérience</label><br />
                            <input type="radio" name="level-masonry" value="expert-masonry" id="expert-masonry" />
                            <label>Expert</label><br />
                        </p>
                    </div>
                    <div class="text-center d-flex">
                        <figure>
                            <img src="/img/bricoleur.jpg" alt="Un bricoleur" />
                            <figcaption class="legend-profession">Tout bricolage</figcaption>
                        </figure>
                        <p>
                            <input type="radio" name="level-diy" value="petits-travaux-diy" id="petits-travaux-diy" />
                            <label>Petits travaux</label><br />
                            <input type="radio" name="level-diy" value="bonne-experience-diy" id="bonne-experience-diy" />
                            <label>Bonne expérience</label><br />
                            <input type="radio" name="level-diy" value="expert-diy" id="expert-diy" />
                            <label>Expert</label><br />
                        </p>
                    </div>
                    <label for="description">Précisez votre profil<span class="input-required">*</span></label><br />
                    <textarea name="description" id="description" required></textarea>
                </fieldset>

                <button type="submit" class="my-5 pointer" onclick='return confirm("Êtes-vous sûr de vouloir enregistrer votre inscription ?")'>Terminer l'inscription</button>
            </form>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="/js/register.js"></script>
    </body>
</html>