<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>S'enregistrer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/register.css" />
    </head>
    <body>
        <div th:replace="Navbar :: navbar"></div>
        <div class="container">
            <h1 class="text-center" th:if="${user == null}">Inscription</h1>
            <h1 class="text-center" th:if="${user != null}">Modifier son profil</h1>
            <p class="text-center password-warning">(saisissez à nouveau votre mot de passe)</p>
            <form th:if="${user == null}" method="post" th:action="@{/validation}" class="form-inscription m-auto" enctype="multipart/form-data">
                <div th:replace="Form :: form"></div>
            </form>

            <form th:if="${user != null}" method="post" th:action="@{/update_user}" class="form-inscription m-auto" enctype="multipart/form-data">
                <div th:replace="Form :: form"></div>
            </form>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="/js/register.js"></script>
        <script src="/js/maxlength.js"></script>
    </body>
</html>